.style1 {
  position: relative;
  display: inline-block;
  border-top: 5px solid #229BCC;
  border-bottom: 5px solid #229BCC;
  padding: 15px; }

.input1 {
  border: none;
  font-size: 50px;
  background: transparent; }
  .input1:focus {
    outline: none; }

.placeholder1 {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 30px;
  padding-left: 10px; }

.style2 {
  position: relative;
  display: inline-block;
  background: #229BCC;
  text-align: left;
  cursor: text;
  padding: 5px; }

.placeholder2 {
  font-size: 30px;
  background: #229BCC;
  display: block;
  padding: 10px;
  padding-left: 5px; }

.input2 {
  background: white;
  display: block;
  width: 100%;
  font-size: 0px;
  border: none;
  padding: 0; }
  .input2:focus {
    outline: none; }

.style3 {
  background: #229BCC;
  width: 40%;
  position: relative;
  display: inline-block;
  text-align: left;
  font-size: 0;
  overflow: hidden;
  cursor: text; }

.placeholder3 {
  width: 100%;
  position: relative;
  font-size: 20px;
  left: 0%;
  display: block;
  padding: 15px;
  cursor: text; }

.input3 {
  border: none;
  position: absolute;
  left: -70%;
  font-size: 20px;
  padding: 15px;
  display: block;
  width: 70%; }
  .input3:focus {
    outline: none; }
