@import "_setup";
@import "_grid";
@import "_juice";
body {
	font-family: 'Raleway', sans-serif;
	background: #F0EFEE;
	color: #6A7989;
}
// style 1
.container {
	width: 80%;
	text-align: center;
	margin: 200px auto;
}
.input {
	position: relative;
	display: inline-block;
	border-top: 5px solid #6A7989;
	border-bottom: 5px solid #6A7989;
	padding: 15px;
}
.style1 {
	border: none;
	font-size: 50px;
	background: transparent;
	&:focus {
		outline: none;
	}
}
.placeholder1 {
	position: absolute;
	left: 15px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 30px;
}

//style 2

.input2 {
	position: relative;
	display: inline-block;
	background: white;
	width: 50%;
	text-align: left;
	cursor: text;
	padding: 5px;
	color: #6A7989;
}
.placeholder2 {
	font-size: 30px;
	background: white;
	display: block;
	padding: 10px;
	padding-left: 5px;
}

.style2 {
	background: #E8E8E8;
	display: block;
	width: 100%;
	font-size: 0px;
	border: none;
	padding: 0;
	&:focus {
		outline: none;
	}
}

//style 3

.input3 {
	background: #EFEEEE;
	width: 40%;
	position: relative;
	display: inline-block;
	text-align: left;
	font-size: 0;
	overflow: hidden;
	border: 1px solid black;
	cursor: text;
}
.placeholder3 {
	width: 100%;
	font-size: 20px;
	position: relative;
	left: 0%;
	display: block;
	padding: 15px;
	cursor: text;
}
.style3 {
	border: none;
	position: absolute;
	left: -70%;
	font-size: 20px;
	padding: 15px;
	display: block;
	width: 70%;
	&:focus {
		outline: none;
	}
}
