@import "_setup";
@import "_grid";
@import "_juice";
body {
	font-family: 'Raleway', sans-serif;
	background: #F0EFEE;
	color: #6A7989;
}
.container {
	width: 80%;
	text-align: center;
	margin: 200px auto;
}
.input {
	position: relative;
	display: inline-block;
	border-top: 5px solid #6A7989;
	border-bottom: 5px solid #6A7989;
	padding: 15px;
}
input {
	border: none;
	font-size: 50px;
	background: transparent;
	&:focus {
		outline: none;
	}
}
.placeholder {
	position: absolute;
	left: 15px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 30px;
}